<div class="container">
<div class="details__wrapper">
  <h2>Add a Link</h2>
  <form [formGroup]="detailsForm" (ngSubmit)="submitDetailsForm(detailsForm.value, detailsForm.valid)">
    <div class="details__control">
      <label>Title:</label>
      <input type="text" formControlName="title">
      <p *ngIf="detailsForm.get('title').touched && !detailsForm.get('title').valid" class="error-text">
        Please enter valid text
      </p>
    </div>
    <div class="details__control">
      <label>Link:</label>
      <input type="text" formControlName="link"
      pattern="^(http:\/\/www\.|https:\/\/www\.|http:\/\/|https:\/\/)?[a-z0-9]+([\-\.]{1}[a-z0-9]+)*\.[a-z]{2,5}(:[0-9]{1,5})?(\/.*)?$">
      <p *ngIf="detailsForm.get('link').touched && !detailsForm.get('link').valid" class="error-text">
        Plaesr enter valid link
      </p>
    </div>
    <button class="details__submit btn btn-primary" [disabled]="detailsForm.invalid">Submit</button>
  </form>
</div>  

<div class="details__article" *ngIf="articles.length > 0">
  <app-article [article]="article" *ngFor="let article of articles"></app-article>
</div>
</div>